*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
}
#nav{
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 30px 40px;
}
#nav h3{
    background-color: black;
    color: white;
    padding: 15px 20px ;
    font-size: 22px;
    margin-left: 5px;
    border-radius: 50px;

}
#intro{
    height: 45%;
    width: 100%;
    background-color: bisque;
    padding: 55px 60px ;
}
#intro h1{
    font-size: 135px;
    letter-spacing: -3px;
    line-height: 133px;
}
#place{
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
#place h3,#place h4{
    font-size: 33px;
    font-weight: 600;
}
#hero-img{
    height: 87%;
    width: 100%;
    background-image: url(https://assets-global.website-files.com/64589fb989b2b33c593db89d/6458a6db645ec6a527000cfa_home-hero-p-1600.webp);
    background-size: cover;
}
#about{
    height: 45%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:50px 60px;
}
#about h2{
    width: 62%;
    font-size: 85px;
    font-weight: 600;
    line-height: 83px;
    letter-spacing:-2px ;

}
#about2{
    width: 35%;
    height: 100%;
    padding: 0px 30px;
    border-left: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}
#about2 h3{
    font-size: 33px;
    font-weight: 600;
}
#icons i{
    background-color: black;
    color: white;
    padding: 7px;
    font-size: 27px;
    border-radius: 50px;
    margin-right: 10px;
}

#work{
    height: 45%;
    width: 100%;
    border-top: 2px solid black;
    
    display: flex;
    padding: 50px 60px;

}
#work1{
    width: 35%;
    height: 100%;
    display: flex;
    padding-right: 60px;
    justify-content: space-between;
    border-right: 2px solid black;
}
#work1 h3{
    font-size: 33px;
    font-weight: 600;
}
#work1 i{
    font-size: 30px;
}
#work2{
    height: 100%;
    width: 65%;
    padding: 0 60px;

}
.work2part{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;
}
.work2part:nth-child(1){
    padding-top: 0;
    border-bottom: 2px solid black;
}
.work2part .elem{
    width: 50%;
    height: 100%;

}
.work2part .elem:nth-child(1){
    border-right: 2px solid black;
    padding-right: 50px;
}
.work2part .elem:nth-child(2){
    padding-left: 50px;
}
.work2part .elem h4{
    font-size: 45px;
    margin-bottom: 10px;
    font-weight: 600;
}
.work2part .elem p{
    font-size: 20px;
    color: rgb(99, 95, 95);
    font-weight: 500;

}
